# Detecta arquivos Dart
*.dart linguist-language=Dart

# Detecta o arquivo pubspec.yaml como um arquivo Dart
pubspec.yaml linguist-language=Dart

# Marcar arquivos relacionados ao CMake como 'vendored' para não interferir na linguagem principal
CMakeLists.txt linguist-vendored
*.cmake linguist-vendored

# Marcar arquivos C++ como 'vendored' também
*.cpp linguist-vendored
*.h linguist-vendored
*.cc linguist-vendored
*.cxx linguist-vendored